<a href="https://colab.research.google.com/github/Akshansh-1/NLP/blob/main/Python_Practice_25_07_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [3]:
a = 5
b = 13
print(a + b)

18

In [6]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
print(a + b)

Enter the value of a: 7
Enter the value of b: 15
22

In [7]:
x = str(3)
y = int(5)
z = float(7)

print(x)
print(y)
print(z)

3
5
7.0

In [8]:
nums = ["7", "15", "26"]
x, y, z = nums
print(x)
print(y)
print(z)

7
15
26

In [12]:
a = 3
b = 7.9
c = 2j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [13]:
x = 4
y = 8.3
z = 3j

a = float(x)
b = int(y)
c = complex(y)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

4.0
8
(8.3+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [15]:
import random
print(random.randrange(1,10))

3

In [16]:
Name =str(input("Enter your Name: "))
a = int(input("Enter your marks in Maths: "))
b = int(input("Enter your marks in Science: "))
c = int(input("Enter your marks in English: "))
d = int(input("Enter your marks in Hindi: "))
if(a>50 and b>50 and c>50 and d>50): print('pass')
else: print('fail')

Enter your Name: Akshansh
Enter your marks in Maths: 78
Enter your marks in Science: 84
Enter your marks in English: 89
Enter your marks in Hindi: 74
pass

In [17]:
Name =str(input("Enter your Name: "))
a = int(input("Enter your marks in Maths: "))
b = int(input("Enter your marks in Science: "))
c = int(input("Enter your marks in English: "))
d = int(input("Enter your marks in Hindi: "))
if(a>50 and b>50 and c>50 and d>50): print('pass')
else: print('fail')

Enter your Name: Akshansh
Enter your marks in Maths: 45
Enter your marks in Science: 32
Enter your marks in English: 43
Enter your marks in Hindi: 38
fail